<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Furima" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% hide_global_header =
         content_for?(:no_global_header) ||
         (defined?(devise_controller?) && devise_controller? &&
            %w[sessions registrations passwords].include?(controller_name) &&
            %w[new create edit].include?(action_name))
    %>

    <%= render "shared/header" unless hide_global_header %>
    <%= render "shared/flash"  %>
    <%= yield %>
  </body>
</html>